@import 'constants/colors.css';
@import 'constants/fonts.css';
@import 'constants/Typefaces.css';

.neg-hashlink {
  color: black;
  text-decoration: none;
}

.neg-hashlink:hover {
  color: black;
  text-decoration: none;
}
/********************/
/*HANDLE OVERFLOWING*/
/********************/
#root {
  width: 100%;
}
#thisissquadmain {
  overflow-x: hidden;
  width: 100%;
}
#whatissquad {
  overflow-x: hidden;
  width: 100%;
}
#meetthesquad {
  overflow-x: hidden;
  width: 100%;
}
#quaranteen-series {
  overflow-x: hidden;
  width: 100%;
}
#meettheteachers {
  overflow-x: hidden;
  width: 100%;
}
#toaudition {
  overflow-x: hidden;
  width: 100%;
}

/********************/
/*BOOTSTRAP OVERWRITES*/
/********************/
.carousel-control-prev,
.carousel-control-next {
  z-index: 7;
}

html {
  position: relative;
  left: 0.000005%;
  width: 99.9999%;
  overflow-x: hidden;
}
body {
  position: relative;
  left: 0.000005%;
  width: 99.9999%;
  /* overflow-x: hidden; */
}

.carousel {
  min-height: var(--carousel-min-height);
}
