@import '../../constants/colors.css';
@import '../../constants/fonts.css';
@import '../../constants/layout.css';

#thisissquadmain {
  background-color: black;
}

#nav-btns {
  position: relative;
  margin-top: -15%;
}
/********************/
/*CAROUSEL BANNER*/
/********************/
.carousel-banner-copy {
  // border: var(--construction);
  position: absolute;
  top: 0%;
  left: 10%;
  width: 80%;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  color: white;
  z-index: 1;

  h1 {
    text-align: right;
    font-size: 5rem;
  }
  h6 {
    font-size: 1.2rem;
    padding: 0 0%;
  }
  p {
    font-size: 1.1rem;
    background-color: var(--purple);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}

/********************/
/*MAIN CAROUSEL*/
/********************/
.carousel-img {
  /* border: var(--construction); */
  min-height: 250px;
  max-height: 80vh;
  height: 100vw;
  width: 100%;
  position: relative;
  left: 0%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#carousel-img-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 0.241),
      rgb(0, 0, 0) 83.5%
    ),
    url('./carousel-imgs/National anthem.jpeg');
  background-size: contain;
}

#carousel-img-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 0.241),
      rgb(0, 0, 0) 77.5%
    ),
    url('./carousel-imgs/Lauren this one takes priority.jpeg');
}
#carousel-img-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 0.241),
      rgb(0, 0, 0) 77.5%
    ),
    url('./carousel-imgs/Party in USA.png');
  background-size: contain;
}

.carousel-caption-a {
  max-height: 630px;
}

#btn-groups-artist-academy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-group-sq {
  background-color: var(--charcoal);
  padding: 5% 05%;
  width: 100%;
  height: 100%;
  text-align: center;
}

#btn-group-academy > h3 {
  font-size: 17px;
  color: var(--white);
  margin: 15px auto;
}

#btn-group-harmonix > h3 {
  font-size: 17px;
  color: var(--white);
  margin: 15px auto;
}

.box-navigation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  button {
    color: rgb(48, 48, 48);
    width: 100%;
    margin: 0.5rem 0;
    padding: 1.75rem 0.25rem;
  }
}

#cta-btn-group {
  margin: auto;
  width: max-content;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem auto;
  .cta-btn {
    background-color: transparent;
    padding: 0.5rem 1rem;
  }
}

/********************/
/*BOTTOM SOCIAL BANNER SET*/
/********************/
#social-icon-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 0 10%;
  margin: 1rem 0;
}

.social-icon {
  --square: 125px;
  width: 100%;
  max-height: var(--square);
  max-width: var(--square);
  margin: auto;
}

/********************/
/*BOTTOM BANNER*/
/********************/
#banner-row {
  // position: relative;

  width: 99%;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner-img-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.banner-headshot {
  --square: 150px;
  width: calc(100% / 6);
  max-height: var(--square);
  max-width: var(--square);
}

/********************/
/*XS Screens*/
/********************/
@media (max-width: 576px) {
  .carousel-banner-copy {
    // border: var(--construction);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 85%;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: white;
    z-index: 5;

    h1 {
      text-align: right;
      font-size: 3.5rem;
    }
    h6 {
      font-size: 1.2rem;
      padding: 0 0%;
    }
    p {
      font-size: 1.1rem;
      background-color: var(--purple);
      width: fit-content;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }

  .btn-group-sq {
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  .box-navigation-buttons {
    /* border: 4px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
  }

  .box-navigation-buttons button {
    /* border: 4px dotted red; */
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.1rem;
  }
}

/********************/
/*SM SCREENS*/
/********************/
@media (min-width: 576px) and (max-width: 768px) {
  #nav-btns {
    position: relative;
    margin-top: -15%;
  }
}
/********************/
/*MD SCREENS*/
/********************/
@media (min-width: 768px) and (max-width: 992px) {
  .box-navigation-buttons {
    button {
      color: rgb(48, 48, 48);
      font-size: var(--h4);
      width: 100%;
      margin: 0.5rem 0;
      padding: 1.75rem 0.25rem;
    }
  }
}

/********************/
/*LG SCREENS*/
/********************/
@media (min-width: 992px) and (max-width: 1200px) {
  .box-navigation-buttons {
    button {
      color: rgb(48, 48, 48);
      font-size: var(--h2);
      width: 100%;
      margin: 0.25rem 0;
      padding: 0.75rem 0.55rem;
    }
  }
}

@media (min-width: 1200px) {
  .carousel-img {
    background-size: cover;
  }

  .box-navigation-buttons {
    button {
      color: rgb(48, 48, 48);
      font-size: var(--h4);
      width: 100%;
      margin: 0.5rem 0;
      padding: 1.75rem 0.25rem;
    }
  }
}

/********************/
/*ADJUSTMENTS FOR OTHER SCREENS*/
/********************/
@media (min-width: 576px) and (max-width: 1200px) {
  .btn-group-sq {
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: var(--charcoal);
    padding: 5px;
    text-align: center;
  }
  .box-navigation-buttons {
    /* border: 4px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
  }

  .box-navigation-buttons button {
    /* border: 4px dotted red; */
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.1rem;
  }
}
