@import '../../constants/colors.css';
@import '../../constants/fonts.css';
@import '../../constants/layout.css';

#thisissquadmain {
  background-color: black;
}

/********************/
/*CAROUSEL*/
/********************/
.carousel-item {
  /* border: 5px dotted red; */
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50%;
  min-height: 500px;
}
.carousel-banner-copy {
  font-size: 3rem;
  position: absolute;
  top: 0%;
}
.carousel-img {
  height: 50vh;
  min-height: 900px;
  width: 100%;
  position: relative;
  left: 0%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#carousel-img-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 0.241),
      rgb(0, 0, 0) 77.5%
    ),
    url('../../images/LaurenThisOneTakesPriority.jpeg');
}

#carousel-img-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 0.241),
      rgb(0, 0, 0) 77.5%
    ),
    url('./carousel-imgs/mischa cameron.jpeg');
}
#carousel-img-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 0.241),
      rgb(0, 0, 0) 77.5%
    ),
    url('./carousel-imgs/National anthem.jpeg');
}

#btn-groups-artist-academy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-group-sq {
  background-color: var(--charcoal);
  padding: 5% 15%;
  width: 100%;
  height: 100%;
  text-align: center;
}

#btn-group-academy > h3 {
  font-size: 17px;
  color: var(--white);
  margin: 15px auto;
}

#btn-group-harmonix > h3 {
  font-size: 17px;
  color: var(--white);
  margin: 15px auto;
}

.box-navigation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.box-navigation-buttons button {
  width: 95%;
  margin: 0.5rem 0;
  padding: 1.75rem 0.25rem;
}

#cta-btn-group {
  margin: auto;
  width: max-content;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem auto;
}

#cta-btn-group > .cta-btn {
  background-color: transparent;
  padding: 0.5rem 1rem;
}

/********************/
/*BOTTOM SOCIAL BANNER SET*/
/********************/
#social-icon-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 0 10%;
  margin: 1rem 0;
}

.social-icon {
  --square: 125px;
  width: 100%;
  max-height: var(--square);
  max-width: var(--square);
  margin: auto;
}

/********************/
/*BOTTOM BANNER*/
/********************/
.banner-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.banner-headshot {
  --square: 150px;
  width: calc(100% / 6);
  max-height: var(--square);
  max-width: var(--square);
}

/********************/
/*ADJUSTMENTS FOR OTHER SCREENS*/
/********************/
@media (max-width: 992px) {
  .btn-group-sq {
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: var(--charcoal);
    padding: 5px;
    text-align: center;
  }
  .box-navigation-buttons {
    /* border: 4px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
  }

  .box-navigation-buttons button {
    /* border: 4px dotted red; */
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.1rem;
  }
}
