@import '../../constants/colors.css';
@import '../../constants/fonts.css';
@import '../../constants/layout.css';

#thisissquadmain {
  background-color: black;
}

#thisissquad {
  /* border: var(--construction); */
  min-height: 900px;
  width: 99%;
  background-image: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 0.241),
      rgb(0, 0, 0) 77.5%
    ),
    url('../../images/LaurenThisOneTakesPriority.jpeg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.carousel-color-adjust {
  background-color: var(--teal);
  border-radius: 5px;
}

.carousel-color-adjust h3 {
}
#headline-text {
  /* border: 5px dashed blue; */
  width: fit-content;
  position: relative;
  left: 14%;
  text-align: center;
  color: var(--white);
}

#headliner {
  font-size: 43px;
  margin-top: 25px;
}

#sub-headliner {
  text-align: center;
  width: 50%;
  margin: 5px auto;
  font-size: 10px;
  left: 25%;
}

#btn-groups-artist-academy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.purple-highlight {
  width: fit-content;
  color: white;
  margin: 15px auto;
  background-color: var(--purple);
}

.rounded {
  border-radius: 5px;
  padding-top: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

#btn-group-academy {
  background-color: var(--charcoal);
  padding: 5% 15%;
  width: 100%;
  height: 100%;
  text-align: center;
}

#btn-group-harmonix {
  background-color: var(--charcoal);
  padding: 5% 15%;
  width: 100%;
  height: 100%;
  text-align: center;
}

#btn-group-academy > h3 {
  font-size: 17px;
  color: var(--white);
  margin: 15px auto;
}

#btn-group-harmonix > h3 {
  font-size: 17px;
  color: var(--white);
  margin: 15px auto;
}

#squad-nav-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#squad-nav-btns a {
  background-color: red;
  width: 100%;
}
#squad-nav-btns button {
  width: 100%;
  padding: 0rem;
}

#harmonix-nav-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

#harmonix-nav-btns button {
  width: 80%;
  padding: 0.25rem;
}

#cta-btn-group {
  margin: auto;
  width: max-content;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem auto;
}

#cta-btn-group > .cta-btn {
  background-color: transparent;
  padding: 0.5rem 1rem;
}

#social-icon-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 0 10%;
  margin: 1rem 0;
}

.social-icon {
  --square: 125px;
  width: 100%;
  max-height: var(--square);
  max-width: var(--square);
  margin: auto;
}

.banner-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.banner-headshot {
  --square: 150px;
  width: calc(100% / 6);
  max-height: var(--square);
  max-width: var(--square);
}
