@import '../../constants/colors.css';
@import '../../constants/fonts.css';
@import '../../constants/layout.css';
:root {
  --side-photo-width: 20%;
}
#toaudition {
  /* border: var(--construction); */
  color: black;
  height: fit-content;
  padding: 10px;
  padding-top: 0;
}

#main-container {
  display: flex;
  flex-direction: row;
}

#left-photo-padding {
  /* border: var(--construction); */
  width: var(--side-photo-width);
  background-image: url('../../images/contact/BlakeContactPage.jpg');
  background-size: contain;
  background-position-x: left;
  background-repeat: no-repeat;
}
#right-photo-padding {
  /* border: var(--construction); */
  width: var(--side-photo-width);
  background-image: url('../../images/contact/EliseContactPage.jpg');
  background-size: contain;
  background-position-x: left;
  background-repeat: no-repeat;
}
#form-container {
  /* border: var(--construction-red); */
  width: 1000px;

  height: auto;
}
#form-container input {
  height: calc(1.5em + 0.75rem + 8px);
}
#subscribe-group {
  /* width: fit-content;
  margin: auto; */
}
#form-container button {
  color: var(--white);
  border: 2px solid var(--white);
  background-color: var(--magenta);
  margin: auto;
  position: 'relative';
  width: 15%;
  left: calc((100px-15px) / 2);
  text-align: 'center';
  margin-top: '1rem';
}

/********************/
/*FOOTER SECTION*/
/********************/
#footer {
  /* border: var(--construction-red); */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 150px;
}
#footer-left {
  width: 33%;
  height: 100%;
  background-color: var(--lightPurple);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
#footer-right {
  width: 66%;
  height: 100%;

  background-color: var(--flower);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /* overflow: hidden; */
}

#ljma-branding {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#ljma-branding img {
  width: 60%;
  padding: 1%;
}
#ljma-branding p {
  height: 100%;
  width: 40%;
  font-size: 0.55rem;
  align-self: flex-end;
  line-height: 0.55rem;
}

#lessons-label {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#lessons-section {
  /* border: var(--construction); */
  width: 75%;
  line-height: 0rem;
}

#lesson-types-pannel {
  text-align: center;
  padding: 1rem;
}

#lessons-section p {
  width: 100%;
}
/* Hide Photos on all but xl screens */
@media (max-width: 1200px) {
  #left-photo-padding {
    display: none;
  }
  #right-photo-padding {
    display: none;
  }
}
