@import '../../constants/colors.css';
@import '../../constants/layout.css';

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 5rem;
}

#artist-contact-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 0.5rem 0;
  height: 2.5rem;
}

#artist-contact-form > button {
  background-color: var(--magenta);
  border: 1px solid var(--black);
  margin: auto;
  padding: 0 10%;
  width: fit-content;
}

#contact-header-banner {
  /* border: var(--construction); */
  width: 110%;
  position: relative;
  left: -5%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1.55rem auto;
}
.contact-image {
  width: 20%;
}
