@import '../../constants/colors.css';
@import '../../constants/layout.css';

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 5rem;
}

#artist-contact-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 0.5rem 0;
  height: 2.5rem;
}

#artist-contact-form > button {
  background-color: var(--magenta);
  border: 1px solid var(--black);
  margin: auto;
  padding: 0 10%;
  width: fit-content;
}

#contact-header-banner {
  /* border: var(--construction); */
  width: 110%;
  position: relative;
  left: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.55rem auto;
}
.contact-image {
  width: 20%;
}

#contact-button-wrapper {
  /* border: var(--construction); */
  position: absolute;
  right: 5%;
  top: -4%;
}

#contact-button {
  --sq-btn: 17vh;
  height: var(--sq-btn);
  width: var(--sq-btn);
  background: var(--magenta);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 0.65rem;
  transform: rotate(20deg);
}
#contact-button a p {
  transform: translateY(20%);
  text-decoration: none;
  color: white;
}

@media (min-width: 576px) {
  #contact-button-wrapper {
    top: -5%;
  }
  #contact-button {
    --sq-btn: 25vh;
    font-size: 1.2rem;
  }
}
