@import '../../constants/colors.css';
@import '../../constants/fonts.css';
@import '../../constants/layout.css';
#whatissquad {
  height: max-content;
  background-color: var(--black);
  padding: var(--construction-padding);
  padding-bottom: 75px;
  color: var(--white);
}

#whatissquad p {
  color: white;
}

#LadderItemsContainer {
  padding: var(--construction-padding);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.LadderItem {
  display: flex;
  flex-direction: row;
}
.LadderItemGraphic {
  padding: 20px;
  flex-grow: 1;
  width: 25%;
}

.LadderItemGraphic > p {
  border-radius: 5px;
  text-align: center;
  padding: 2px 10px;
}

.LadderItemText {
  width: 75%;
  flex-grow: 5;
  padding: 20px;
}

#BarChartContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 20px;
}

.BarContainer {
  height: fit-content;
  margin: 20px;
  padding: 15px;
  border-radius: 1.25rem;
}
#GraphButton {
  background-color: grey;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 0.5px;
}

.BarContainer > h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

#OfferingSetContainer {
  display: flex;
  flex-direction: column;
}

#LessonSetContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 40%;
  margin: auto;
}
#private-lesson-button {
  width: fit-content;
  margin: auto;
  background-color: var(--teal);
  border: 2px solid var(--white);
  border-radius: 3px;
  padding: 10px 45px;
  font-size: 1.5rem;
}
