:root {
  /* Pinks/Purples */
  --flower: #fec5e9;
  --magenta: #fa4faa;
  --purple: #a800d6;

  /* Blues */
  --tortise: #99d5ca;
  --teal: #00c0c3;
  --seagreen: #01a589;

  /* White/Black/Grey */
  --charcoal: #202020;
  --obsidian: #090909;
}
