:root {
  --defaultFont: 'liberation-sans', sans-serif;
  --jumbo: 3rem;
  --h1: 2.25rem;
  --h2: 2rem;
  --h3: 1.6remm;
  --h4: 1.5rem;
  --h5: 1.4rem;
  --h6: 1.2;
  --p: 1.1rem;
  --mini: 0.5rem;
}

* h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--defaultFont);
}

.liberation-sans {
  font-family: 'liberation-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.liberation-sans-bold {
  font-family: 'liberation-sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.liberation-sans-italic {
  font-family: 'liberation-sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.liberation-sans-bold-italic {
  font-family: 'liberation-sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
