@import '../../constants/colors.css';
@import '../../constants/layout.css';
#members-container {
}
.member-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.profile-container {
}

.photo-container {
}

.artist-photo {
}

.social-containers {
}
.social-anchor {
}
.instagram-link {
}

.soundcloud-link {
}

.photo-title {
  position: relative;
  transform: translateY(-50%);
  padding: 0;
  line-height: 0;
}
