#press-container {
  /* background-color: green; */
  margin-bottom: 2.5rem;
}

.undecorated-list-item {
  list-style-type: none;
  text-align: center;
  margin: 0.5rem;
}

#purple-bar {
  width: 10px;
  position: relative;
  right: 0%;
}

.press-release-date {
  margin-right: 1rem;
}

#social-media-appearances {
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: space-around;
}

#follow-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
#follow-us > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.follow-us-icon {
  width: 100%;
}
