#about-us-container {
  /* border: var(--construction); */
  margin-top: 3rem;
}

#about-us-heading {
  font-size: 2rem;
  margin: 10px auto;
}
#banner-l {
  width: 50%;
}
#banner-r {
  width: 50%;
}

#about-us-text {
  margin-top: 1rem;
  padding: 0 10%;
  font-size: 1.2rem;
}
