#about-us-container {
  margin-top: 3rem;
}
#bout-banner {
  position: relative;
  width: auto;
  margin: 0 -6.66%;
}

#about-us-heading {
  margin: 10px auto;
  width: 100%;
  position: relative;
  left: -4%;
}
#banner-l {
  width: 50%;
}
#banner-r {
  width: 50%;
}

#about-us-text {
  margin-top: 1rem;
  padding: 0 10%;
  font-size: 1.2rem;
}

#banner-headshots-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutus-headshot {
  width: 11%;
}

#more-info-bubble {
  background-color: var(--magenta);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: -32%;
  padding: 1rem;
  max-width: 500px;
  max-height: 500px;
}

#more-info-bubble p {
  font-size: 0.7rem;
  transform: rotate(25deg) translate(4%, 6%);
  color: white;
}

@media (max-width: 576px) {
}
