@import '../../constants/colors.css';
@import '../../constants/layout.css';
#banner-page-container {
  /* border: var(--construction); */
  height: max-content;
  padding: 0 5%;
}
#banner-photo-container {
  /* border: var(--construction); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#banner-img {
  position: relative;
  right: -20%;
  width: 80%;
  margin: 0 auto;
}

#banner-content-container {
  /* border: var(--construction); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner-social-sites {
  /* border: var(--construction-red); */
  align-self: flex-end;
}
#banner-social-sites > a > img {
  width: 3em;
}

#banner-marquee {
  /* border: var(--construction-red); */
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.purple-marquee {
  color: var(--magenta);
}
#banner-marquee-sub {
  margin: 0.5rem auto 0 auto;
}

#subscribe-btn {
  align-self: center;
  margin: 1rem 0;
}
#subscribe-btn a {
  background-color: red;
  padding: 1rem 1rem;
  color: white;
  border-radius: 10px;
}

#banner-listening-sources {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#banner-listening-sources > a {
  display: inline;
}
#banner-listening-sources > a > img {
  margin: 0 2.5%;
  max-width: 50px;
  width: 100%;
}
#banner-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#banner-buttons > button {
  padding: 10px 50px;
  margin: auto;
  background-color: white;
  border-radius: 20%;
}
#banner-buttons > button:hover {
  padding: 10px 50px;
  margin: auto;
  background-color: white;
  border: 2px solid var(--magenta);
}
