@import '../../constants/colors.css';
@import '../../constants/layout.css';
@import '../../constants/fonts.css';
@import '../../constants/Typefaces.css';

#meettheteachers {
  /* padding-top: 3rem; */
}

.teachers-container {
  /* border: var(--construction); */
  margin: 0rem 0;
  padding: 0rem 0;
}

.teacher-profile {
  /* border: var(--construction-red); */
  font-size: var(--p);
  height: 35vh;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2.5rem 0rem;
  padding: 2rem;
}
.teacher-profile:last-of-type {
  margin-bottom: 0rem;
}

.teacher-photo-l {
  width: 25%;
  height: auto;
  float: left;
  margin-right: 1.5rem;
}

.bio-text {
  font-size: var(--p);
}

@media (max-width: 992px) {
  .teachers-container {
    /* border: var(--construction-green); */
    /* margin: 0 0;
    padding: 0; */
  }
}
