@import '../../constants/colors.css';
@import '../../constants/layout.css';

#meettheteachers {
  padding-top: 3rem;
}

.teachers-container {
}
.teacher-profile {
}

.teacher-photo-l {
  width: 20%;
  height: auto;
  float: left;
}

.bio-text {
}
