@import '../../constants/colors.css';
@import '../../constants/layout.css';

#checkout-heading {
  text-align: center;
  margin: 2rem auto;
}
#quarantine-heading {
  text-align: center;
  margin: 2rem auto;
}

.player-container {
  width: 100%;
  margin: 1rem 1rem;
  text-align: center;
  position: relative;
  left: -5%;
}
.spacer-container {
  margin: 50px 0px;
}

#btn-more {
  border: 2px solid var(--teal);
  width: 33%;
  position: relative;
  left: 33%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 1.2rem 1rem 0 1rem;
  border-radius: 15px;
  font-size: 1rem;
  line-height: 1rem;
}
